body{
    font-family:'Work San(s', sans-serif;
}
h1{
    font-size: 32px;
}
h2{
    color: rgb(36, 158, 52);
    font-size: 25px;
}
span{
    color: salmon;
}
}
 p{
    line-height: 20px;
}
.flexi-cont{
    display: flex;
    margin-top: 2%;
    margin-bottom: 5px;
    padding-left: 20px;
    padding-right: 20px;
}
.flexiable{
    width: 100%;
    display: flex;
   justify-content: space-evenly;
   text-align: left;
}
#unique{
    font-size: 35px;
    font-weight: 600;
    text-transform: uppercase;
    text-align: center;
    margin-top: 70px;

}
.flexiable-1{
    flex-basis: 25%;
    border: 1px solid greenyellow;
    border-radius: 10px;
    padding: 10px 25px;
    margin: 10px 0px;
    box-shadow: 0 0 20px 0 rgba(0,0,0,0.3);
    background-repeat: no-repeat;
}
.flexiable-1 img{
    width: 50%;
}

.first-ghoul  {
    width: 70%;
    margin-top: 15px;
    margin-left: 100px;
    text-align: left;
}
.first-ghoul icon::after{
    content: "";
    width: 5px;
    height: 50px;
    background: tomato;
    display: block;
   
}
.first-ghoul img{
    width: 70%;
    border-radius: 50%;
    
}
 p{
    line-height: 20px;
    
}
.ghoul-button{
    text-decoration: none;
   background-image: linear-gradient( purple,salmon);
    padding: 10px 40px;
    border-radius: 8px;
    color: white;
} 
.second-ghoul{
    width:50%;
    margin-top:15px;
}
.second-ghoul img{
    width: 80%;
    border-radius: 15px;
    margin-left: 50px;
    background-image: url(img/shape-1.png);
    background-repeat: no-repeat;
}

footer{
    margin-top: 50px;
    text-align: center;
    border: 1px solid white;
    padding: 20px 15px;
    color:white;
    background-color: tomato;
    font-size: 25px;
    font-family: sans-serif;
}
footer h1{
    font-family: cursive;
    text-transform: capitalize;
    font-size: 30px;
    font-weight: 600;
}
/*--------------box bgcolor---------*/
#bg-color1{
    background-color: rgba(153, 205, 50, 0.692);
}
#bg-color2{
    background-color: rgba(30, 81, 190, 0.548);
}
#bg-color3{
    background-color: rgba(204, 137, 36, 0.829);
}
.straight-line{
    width: 2px;
    height: 90px;
    position: absolute;
    margin: 45px 0 0 86px;
    background-color: tomato;
    border: 1px solid tomato;
    display: block;
    border-radius: 2px;
   
}